{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
    <div class="container ">
        <h2>Your profile</h2>
        {{form_start(profileForm) }}
        {{form_row(profileForm.birthday) }}
        {{form_row(profileForm.sex) }}
        {{form_row(profileForm.postal_code) }}
        {{form_row(profileForm.city) }}
        {{form_row(profileForm.presentation) }}
        <div class="field is-grouped">
            <button class="mx-5 button btn-outline-success">Submit</button>
            <button class="button btn-outline-danger">Cancel</button>
        </div>
        {{form_end(profileForm) }}
    </div>
{% endblock %}
