{% extends 'base.html.twig' %}

{% block title %}
Profile of {{ app.user.username }}
{% endblock %}

{% block body %}
<div class="container">
    <h2>{{ app.user.username }}</h2>
        {% if app.user.firstPicture %}
            <p><img src="{{ asset('img/profile/small/'~app.user.firstPicture.fileName) }}" class="img-thumbnail w-25" alt="Photo de profil"></p>
            <p><a href="{{ path('profile_pic') }}" class="btn btn-outline-warning">Modify your photo</a> </p>
        {% else %}
            <p><a href="{{ path('profile_pic') }}" class="btn btn-outline-warning">Share your photo</a> </p>
        {% endif %}

        <table class="table">
            <tbody>
        <tr>
            <th scope="row">Birthday</th>
            <td>{{ profile.birthday|date("d-m-Y") }}</td>
        </tr>
        <tr>
            <th scope="row">Sex</th>
            <td>{{ profile.sex }}</td>
        </tr>
        <tr>
            <th scope="row">Postal_code</th>
            <td>{{ profile.postalCode }}</td>
        </tr>
        <tr>
            <th scope="row">City</th>
            <td>{{ profile.city }}</td>
        </tr>
        <tr>
            <th scope="row">Presentation</th>
            <td>{{ profile.presentation }}</td>
        </tr>
        </tbody>
    </table>
    <a href="{{ path('profile_create') }}" class="btn btn-outline-warning">Modify your information</a>
</div>
{% endblock %}

