{% extends 'base.html.twig' %}

{% block body %}

    <div>
        <h2>You search :</h2>
        <p>a <strong>{{ app.user.search.sex }}</strong>, from dep. <strong>{{ app.user.search.department }}</strong>, from <strong>{{ app.user.search.ageMin }} to {{ app.user.search.ageMax }}</strong> years old</p>
        <a href="{{ path('search_newSearch') }}" class="btn btn-outline-primary border-primary" type="button">Modify here</a>
        <h1 class="text-center">Look at the ones we found :</h1>
    </div>

    <div class="row justify-content-center">
        {% for user in matchesUser %}

                <div class="card m-3" style="width: 18rem;">
                    {% if(user.firstPicture) %}
                    <img src="{{ asset('img/profile/small/'~user.firstPicture.fileName) }}" class="card-img-top" alt="Photo de profil">
                    {% else %}<img src=" " class="card-img-top" alt="...">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ user.username }}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="{{path('profile_detail',{'id':user.id}) }}" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

        {% endfor %}
    </div>

{% endblock %}

{% block title %}
    Your matches
{% endblock %}